.Puzzle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Reference {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.Table {
    display: table;
}

.TableRow {
    display: table-row;
}

.TableCell {
    display: table-cell;
}

@media(min-width: 500px) {
    .Puzzle {
        flex-direction: row;
    }
}