.Puzzle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.Reference {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}